<div class="md-padding">
    <md-dialog aria-label="Ajouter" class="size-dialog-add">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-title>Ajouter</md-title>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-icon="navigation:ic_close_24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-padding">
            <div layout="row" layout-xs="column">
                <md-input-container flex><label>First name </label> <input ng-model="vm.event.firstname">
                </md-input-container>
                <md-input-container flex><label>Last name </label> <input ng-model="vm.event.lastname">
                </md-input-container>
                <md-autocomplete flex="" required="" md-input-name="autocompleteVille" md-input-minlength="1"
                                 md-input-maxlength="18" md-selected-item="ul.selectedItem"
                                 md-search-text="vm.event.ville"
                                 md-items="item in vm.ville| filter: vm.event.ville:strict"
                                 md-item-text="item.name" md-floating-label="Ville">
                    <md-item-template>
                        <span md-highlight-text="vm.event.ville">{{item.name}}</span>
                    </md-item-template>

                </md-autocomplete>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="vm.answer(vm.event)" class="md-primary md-raised">Ajouter</md-button>
        </md-dialog-actions>


    </md-dialog>
</div>
